body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 700px;
}

/* The animation code */
@keyframes example {
  0% {
    bottom: 10px;
  }

  80% {
    bottom: 80px;
  }

  100% {
    bottom: 70px;
  }
}

@keyframes banana {
  0% {
    width: 10px;
  }

  100% {
    width: 100px;
  }
}

@keyframes milho {
  0% {
    width: 0px;
  }

  100% {
    width: 36px;
  }
}

@keyframes pimentao {
  0% {
    width: 0px;
  }

  100% {
    width: 25px;
  }
}

@keyframes couve {
  0% {
    width: 0px;
  }

  100% {
    width: 40px;
  }
}

/* The element to apply the animation to */
#btn {
  animation-name: example;
  animation-duration: 1s;
}

#linha {
  width: 300px;
  position: absolute;
  top: 270px;
  left: 39px;
}

#banana {
  animation-name: banana;
  max-width: 100px;
  animation-duration: 3s;
  position: absolute;
  bottom: 311px;
  left: 30px;
}

#milho {
  max-width: 36px;
  animation-name: milho;
  animation-duration: 3s;
  position: absolute;
  bottom: 310px;
  left: 163px;
}

#pimentao {
  max-width: 25px;
  animation-name: pimentao;
  animation-duration: 3s;
  position: absolute;
  bottom: 310px;
  left: 241px;
}

#couve {
  max-width: 40px;
  animation-name: couve;
  animation-duration: 3s;
  position: absolute;
  bottom: 310px;
  left: 309px;
}

@keyframes images {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#profile {
  opacity: 0;
  animation-name: images;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

#about {
  opacity: 0;
  animation-name: images;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#place {
  opacity: 0;
  animation-name: images;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#culture {
  opacity: 0;
  animation-name: images;
  animation-duration: 1.5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
